<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculadora</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="calculadora">
        <div class="pantalla" id="resultado">0</div>
        <div class="botones">

            <!-- <button onclick="agregarFuncion(sin())">sin</button>
            <button onclick="agregarFuncion(cos())">cos</button>
            <button onclick="agregarFuncion(tan())">tan</button>
            <button onclick="agregarFuncion(log())">log</button> -->
            <button onclick="calculadoraa.agregarNumero(')', ')')">)</button>
            <button onclick="calculadoraa.agregarNumero('(', '(')">(</button>
            <button onclick="calculadoraa.agregarNumero('sqrt(', '√(')">√</button>
            <button onclick="calculadoraa.agregarNumero('7')">7</button>
            <button onclick="calculadoraa.agregarNumero('8')">8</button>
            <button onclick="calculadoraa.agregarNumero('9')">9</button>
            <button onclick="calculadoraa.agregarNumero('+')" class="operacion">+</button>
            <button onclick="calculadoraa.agregarNumero('4')">4</button>
            <button onclick="calculadoraa.agregarNumero('5')">5</button>
            <button onclick="calculadoraa.agregarNumero('6')">6</button>
            <button onclick="calculadoraa.agregarNumero('-')" class="operacion">-</button>
            <button onclick="calculadoraa.agregarNumero('1')">1</button>
            <button onclick="calculadoraa.agregarNumero('2')">2</button>
            <button onclick="calculadoraa.agregarNumero('3')">3</button>
            <button onclick="calculadoraa.agregarNumero('*', 'x')" class="operacion">*</button>
            <button onclick="calculadoraa.agregarNumero('0')">0</button>
            <button onclick="calculadoraa.agregarNumero('.')">.</button>
            <button onclick="calculadoraa.borrar()" id="boton">C</button>
            <button onclick="calculadoraa.agregarNumero('/')" class="operacion">/</button>
            <button onclick="calculadoraa.calcular()" class="igual">=</button>

        </div>
    </div>
    <script src="/static/all.js"></script>
</body>
</html>
